<p-dialog
  [header]="'Adjuntar archivo - Solicitud #' + solicitudId()"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '520px' }"
  [breakpoints]="{ '575px': '95vw' }"
  (onHide)="onHide()"
>
  <div class="upload-container">
    @if (!selectedFile()) {
      <p-fileupload
        #fileUpload
        mode="advanced"
        (onSelect)="onSelect($event)"
        (onClear)="onClear()"
        [showUploadButton]="false"
        [showCancelButton]="false"
      >
        <ng-template #header>
          <span></span>
        </ng-template>
        <ng-template #file>
          <span></span>
        </ng-template>
        <ng-template #empty>
          <div class="drop-zone">
            <div class="drop-zone__icon">
              <i class="pi pi-cloud-upload"></i>
            </div>
            <p class="drop-zone__title">Arrastra tu archivo aquí</p>
            <p class="drop-zone__subtitle">o selecciona desde tu dispositivo</p>
            <p-button
              label="Seleccionar archivo"
              icon="pi pi-folder-open"
              severity="secondary"
              [outlined]="true"
              size="small"
              [style]="{ marginTop: '0.75rem' }"
              (click)="fileUpload.choose($event)"
            />
          </div>
        </ng-template>
      </p-fileupload>
    } @else {
      <div class="file-preview">
        <div class="file-preview__card">
          <i [class]="getFileIcon(selectedFile()!) + ' file-preview__icon'"></i>
          <div class="file-preview__info">
            <span class="file-preview__name">{{ selectedFile()!.name }}</span>
            <span class="file-preview__size">{{ formatSize(selectedFile()!.size) }}</span>
          </div>
          <p-button
            icon="pi pi-times"
            severity="danger"
            [text]="true"
            [rounded]="true"
            size="small"
            (click)="onClear()"
            [disabled]="uploading()"
          />
        </div>

        @if (uploading()) {
          <p-progressbar mode="indeterminate" [style]="{ height: '4px' }" />
        }
      </div>
    }
  </div>

  <ng-template #footer>
    <p-button label="Cancelar" severity="secondary" [text]="true" (click)="visible.set(false)" />
    @if (selectedFile()) {
      <p-button
        label="Subir archivo"
        icon="pi pi-upload"
        (click)="submitUpload()"
        [loading]="uploading()"
        [disabled]="uploading()"
      />
    }
  </ng-template>
</p-dialog>
