<p-dialog
  header="Ficheros"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '560px' }"
  [breakpoints]="{ '575px': '95vw' }"
  (onShow)="onShow()"
  (onHide)="onHide()"
>
  <div class="ficheros-content">
    @if (loading()) {
      <div class="ficheros-state">
        <i class="pi pi-spin pi-spinner"></i>
        <span>Cargando archivos...</span>
      </div>
    } @else if (error()) {
      <div class="ficheros-state ficheros-error">
        <i class="pi pi-exclamation-triangle"></i>
        <span>{{ error() }}</span>
      </div>
    } @else if (ficheros().length === 0) {
      <div class="ficheros-state">
        <i class="pi pi-inbox"></i>
        <span>No hay archivos registrados.</span>
      </div>
    } @else {
      <ul class="ficheros-list">
        @for (fichero of ficheros(); track fichero.codigo_fichero_pk) {
          <li class="fichero-item">
            <div class="fichero-info">
              <i class="pi pi-file fichero-icon"></i>
              <div class="fichero-details">
                <span class="fichero-nombre">{{ fichero.nombre }}.{{ fichero.extension }}</span>
                <span class="fichero-meta">
                  {{ formatSize(fichero.tamano) }} · {{ fichero.fecha | date: 'dd/MM/yyyy' }}
                </span>
              </div>
            </div>
          </li>
        }
      </ul>
    }
  </div>

  <ng-template #footer>
    <p-button label="Cerrar" severity="secondary" [text]="true" (click)="visible.set(false)" />
  </ng-template>
</p-dialog>
